extends layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="Page not found")
  link(rel="stylesheet", href="/styles/views/404.css")

block main
  div #{title}
  p Questa pagina non è più disponibile oppure non è mai esistita.
  br
  br
  p Inizia la navigazione partendo dalla Home page:
  a(href=proj_url, title="Home page") #{proj_name}
