
extends layout.pug

block append meta
  title #{title} 
  meta(name="description" content=description)
  meta(name="keywords" content="")

  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content=description)
  meta(name="og:image" content=og_image)

  script(src='/scripts/contacts.js', type='module', defer)

block main
  section(class="rounded")
    h1 #{title}
    p Contatta #{proj_name} per domande, informazioni o altre necessità.
    section 
        h2 Tramite email
        p E' possibile utilizzare questo indirizzo email: 
          a(href="mailto:" + proj_email) #{proj_email}
