extends layout.pug

block append meta
  title #{title} 
  meta(name="description" content=description)
  meta(name="keywords" content="data, dividendi, stacco, cedola, dividendo, date, borsa, italiana")

  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=proj_tagline)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content=description)
  meta(name="og:image" content=proj_logo)

  link(rel="stylesheet", href="/styles/views/dividends.css")
  script(src='/scripts/dividends.js', type='module', defer)

block main
  section(id="dividens", class="rounded zoom")
    h1 #{title} 
    div(class="list-wrapper")
      div(id="dividend-yield") 
        h3 I valori dei dividendi #[em in rapporto al prezzo]
        ul(class="trlist rank yield")
        p Lista dei dividendi ordinata per valore in rapporto al prezzo di listino del Titolo
        p(class="source") Fonte: #[em(class="img_icon milano-finanza") Milano Finanza]
        p(class="detection") Rilevamento: #[em ]
      div(id="dividend-date")
        h3 Prossime date di Stacco della Cedola        
        ul(class="trlist date")
        p La lista ordinata delle date di stacco del Dividendo 
        p(class="source") Fonte: #[em(class="img_icon milano-finanza") Milano Finanza]
        p(class="detection") Rilevamento: #[em ]
