extends layout.pug

block append meta
  title #{title  + ' - ' + proj_name} 
  meta(name="description" content=proj_description)
  meta(name="keywords" content="trading, segnali, borsa, italiana, azioni, titoli, azionari, tempo, reale, performance, dividendi, rating, ranking")

  link(rel="canonical", href=proj_url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=proj_tagline)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content=description)
  meta(name="og:image" content=og_image)

  script(src='/scripts/home.js', type='module', defer)

block main
  div(class="content")
    include ../components/hp-header/hp-header.pug
    include ../components/hp-hero/hp-hero.pug
    div(id="extracts", class="wrap wrap4")
      include ../components/hp-signals/mounth-performance.pug
      include ../components/hp-signals/dividends.pug
    div(id="signals", class="wrap wrap2")
      include ../components/hp-signals/next-dividend.pug
      include ../components/hp-signals/best-mf.pug

    include ../marketing/ava-banner/ava-banner.pug

    include ../components/perf-month/perf-month.pug
    include ../components/perf-year/perf-year.pug

    include ../marketing/ava-banner/ava-banner2.pug
    
    include ../components/trend/trend.pug
    include ../components/inversion/inversion.pug
    //- include ../components/hp-signals/hp-signals.pug
    //- include ../components/stocks_list/stocks_list.pug 
    include ../components/shared/share/share.pug
  section(class="column")
    include ../components/shared/socials/socials.pug
    include ../components/stocks_list_light/stocks_list_light.pug
    include ../marketing/ava-banner/ava-banner3.pug

block prepend outro
  include ../components/shared/disclaimer/disclaimer.pug
