extends layout.pug

block append meta
  title #{title  + ' - ' + proj_name} 
  meta(name="description" content=proj_description)
  meta(name="keywords" content="home")

  link(rel="canonical", href=proj_url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=proj_tagline)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content=description)
  meta(name="og:image" content=og_image)

  link(rel="stylesheet", href="/styles/views/home.css")
  script(src='/scripts/home.js', type='module', defer)

block main
  include ../components/hp-header/hp-header.pug
  include ../components/hp-rounded/hp-rounded.pug
  include ../components/stocks_list/stocks_list.pug      
  include ../components/perf-month/perf-month.pug
  include ../components/perf-year/perf-year.pug
  include ../components/trend/trend.pug
  include ../components/inversion/inversion.pug

block prepend outro
  include ../components/shared/disclaimer/disclaimer.pug
