-
  let proj_name = 'tradingradar.net'
  let proj_tagline = 'Titoli sull\'orlo di un crisi di nervi'
  let proj_description = 'Scopri le Azioni più interessanti della Borsa Italiana con dati in tempo reale dalle principali testate del settore: performance, trend, target price, raccomandazioni, dividendi, medie, supporti e resistenze, RSi, rating e tanti altri dati'
  let proj_url = 'https://tradingradar.net'
  let copy = 2025
  let owner = 'Marco Pavan'
  let email = 'info@tradingradar.net'
  let logo = 'https://www.tradingradar.net/assets/images/logo.png'

doctype html
html(lang=locale)
  head
    block meta 
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(name="author" content=owner)
      link(rel="shortcut icon", href="https://www.tradingradar.net/public/favicon.ico", type="image/x-icon")
      link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body(id=id, class=className)
    include ../components/shared/header/header.pug
    block intro
    main
      block main
    block outro
    include ../components/shared/footer/footer.pug
    script(src='/scripts/scripts.js', type='module')
    script(type='application/ld+json').
          {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "#{proj_url}",
            "name": "#{proj_name}",
            "description": "#{description}",
            "image": "#{logo}",
            "author": {
              "@type": "Person",
              "name": "#{owner}"
            },
            "copyrightHolder": {
              "@type": "Person",
              "name": "#{owner}"
            }
          }
