-
  let proj_name = 'tradingradar.net'
  let proj_tagline = 'Titoli sull\'orlo di un crisi di nervi'
  let proj_description = 'Scopri le Azioni più interessanti della Borsa Italiana con dati in tempo reale dalle principali testate del settore: performance, trend, target price, raccomandazioni, dividendi, medie, supporti e resistenze, RSI, rating e tanti altri. '
  let proj_url = 'https://tradingradar.net'
  let proj_copy = 2025
  let proj_owner = 'Marco Pavan'
  let proj_email = 'info@tradingradar.net'
  let proj_logo = 'https://tradingradar.net/assets/images/logo.png'
  let fbAppId = 8622517134464699
  let sc_project = 11043457
  let sc_security = '9f87886c'

doctype html
html(lang="it")
  head
    block meta 
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(name="author" content=proj_owner)
      meta(property="fb:app_id" content=fbAppId)
      link(rel="shortcut icon", href="https://tradingradar.net/public/favicon.ico", type="image/x-icon")
      link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body(id=id, class=className)
    include ../components/shared/header/header.pug
    block intro
    main
      block main
    block outro
    include ../components/shared/footer/footer.pug
    include ../components/shared/cookie_layer/cookie_layer.pug
    include ../components/shared/goto_top/goto_top.pug
    block viewscripts
    script(src='/scripts/scripts.js', type='module')
    div(id="fb-root")
    script(async defer crossorigin="anonymous" src=("https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v21.0&appId=" + fbAppId))
    script.
        var sc_project = #{sc_project};
        var sc_invisible = 1;
        var sc_security = "#{sc_security}";
    script(async, defer, src='https://www.statcounter.com/counter/counter.js')
    script(type='application/ld+json').
          {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "#{proj_url}",
            "name": "#{proj_name}",
            "description": "#{description}",
            "image": "#{logo}",
            "author": {
              "@type": "Person",
              "name": "#{owner}"
            },
            "copyrightHolder": {
              "@type": "Person",
              "name": "#{owner}"
            }
          }
