extends layout.pug

block append meta
  title #{title} 
  meta(name="description" content=description)
  meta(name="keywords" content="login")
  link(rel="canonical", href=href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=proj_tagline)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content=description)
  meta(name="og:image" content=proj_logo)

  link(rel="stylesheet", href="/styles/views/login.css")
  script(src='/scripts/login.js', type='module', defer)

block main
  h1 #{title} - #{__('Hello')}
  form(action="/login" method="post")
    div(class="mb-3")
      label(class="form-label", for="email") Email
      input(class="form-control", type="email", name="email")
    div(class="mb-3")
      label(class="form-label", for="password") Password
      input(class="form-control", type="password", name="password")
    button(class="btn btn-primary", type="submit") Submit
    div(class="errors")
