
extends layout.pug

block append meta
  title #{title} 
  meta(name="description" content=description)
  meta(name="keywords" content="")

  link(rel="canonical", href=proj_url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=proj_tagline)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content=description)
  meta(name="og:image" content=proj_logo)

  link(rel="stylesheet", href="/styles/views/stock.css")
  script(src='/scripts/stock.js', type='module', defer)

block main
  section(id="head", class="rounded")
    div 
      img(src=('/assets/images/stocks/' + code + '-min.png'), alt=name)
      h1 #{name}
    p Tutti i dati sono forniti in #[em tempo reale] interrogando direttamente le fonti originali

  section(id="top-data")
    div(id="last-price", class="rounded loading")
      h2 Ultimo prezzo rilevato 
      div(class="big") #[small €] #[span]

    div(id="dividend", class="rounded loading")
      h2 Dividendo
      h3 Div. Yield
      div(class="small") #[small %] #[span(id="yeld")]
      h3 Valore dividendo
      div(class="small") #[small €] #[span(id="value")]
      h3 Data dividendo
      div(class="small") #[span(id="last")]

    div(id="average", class="rounded loading")
      h2 Medie mobili
      h3 20 giorni
      div(class="small") #[small €] #[span(id="mm20")]
      h3 40 giorni
      div(class="small") #[small €] #[span(id="mm40")]
      h3 100 giorni
      div(class="small") #[small €] #[span(id="mm100")]

    div(id="performance", class="rounded loading")
      h2 Performance
      h3 1 mese
      div(class="small") #[small %] #[span(id="m1")]
      h3 6 mesi
      div(class="small") #[small %] #[span(id="m6")]
      h3 1 anno
      div(class="small") #[small %] #[span(id="y1")]

  section(id="analyses")
    div(id="borsa-italiana", class="rounded loading")
      h2(class="borsa-italiana img_icon") Borsa Italiana
      dl 
        dt Resistenza
        dd(class="small") #[small €] #[span(id="bi-resistance")]
        dt Supporto
        dd(class="small") #[small €] #[span(id="bi-support")]
        dt RSI
        dd(class="small") #[span(id="bi-rsi")]
        dt Valutazione
        dd #[span(id="bi-evaluation")]
        dt Rating [0-4]
        dd(class="small") #[span(id="bi-rating")]

    div(id="il-sole-24-ore", class="rounded loading")
      h2(class="il-sole-24-ore img_icon") Il Sole 24 Ore
      dl 
        dt Tendenza breve periodo
        dd(class="small") #[span(id="sol24-short-tend")]
        dt Tendenza medio periodo
        dd(class="small") #[span(id="sol24-med-tend")]
        dt Profilo
        dd #[span(id="sol24-profile")]
        dt Commento
        dd #[span(id="sol24-comment")]

    div(id="milano-finanza", class="rounded loading") 
      h2(class="milano-finanza img_icon") Milano Finanza
      dl 
        dt Rating [A-E]
        dd(class="small") #[span(id="mf-rating")]
        dt Risk [0-100]
        dd(class="small") #[span(id="mf-risk")]

    div(id="soldi-on-line", class="rounded loading") 
      h2(class="soldi-on-line img_icon") SoldiOnLine
      dl 
        dt Giudizio
        dd(class="small") #[span(id="sol-evaluation")]
        dt Target price
        dd(class="small") #[small €] #[span(id="sol-target")]
        dt Banca d'affari
        dd(class="small") #[span(id="sol-bank")]
        dt Data
        dd(class="small") #[span(id="sol-date")]

    div(id="teleborsa", class="rounded loading") 
      h2(class="teleborsa img_icon") Teleborsa
      dl 
        dt Resistenza
        dd(class="small") #[small €] #[span(id="tb-resistance")]
        dt Supporto
        dd(class="small") #[small €] #[span(id="tb-support")]
        dt Trend
        dd #[span(id="tb-trend")]

  section(id="news", class="rounded zoom loading")
    h2 Rassegna Stampa #{name}
    ul 





  

  //- section(id="info", class="rounded zoom loading")
  //-   h2 Informazioni #{name}
  //-   p Valore e data del #[em dividendo]; le #[em medie mobili] a 20, 40 e 100 giorni; i #[em massimi e minimi] (assoluti e relativi all'ultimo anno) e le #[em performance] fatte registrare dal titolo #{name}.
    
