extends layout.pug

block append meta
  title #{title} 
  meta(name="description" content=description)
  meta(name="keywords" content="target, price, raccomandazioni, prezzo, obiettivo, azioni, borsa, italiana")

  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content=description)
  meta(name="og:image" content=og_image)

  link(rel="stylesheet", href="/styles/views/tpr.css")
  script(src='/scripts/tpr.js', type='module', defer)

block main
  section(id="target-price", class="rounded")
    h1 #{title}
    table
      thead
        tr
          th Nome
          th Data
          th Banca
          th Giudizio
          th Target price
      tbody
    p I target Price e le Raccomandazioni delle principali Banche d'Affari #[em ordinati per data]
    p(class="source") Fonte: #[em(class="img_icon soldi-on-line") Soldi on Line]
    p(class="detection") Rilevamento: #[em ]
